@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    list-style: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background: #D4A373;
    }
}

section {
    min-height: 100vh;
    background: #2E2B3A;
}

/*Header*/

header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1000;
    height: 12%;
}

/*Navigation bar*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.navbar nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}  
.navbar nav li {
    display: inline-block;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 600;
}
.navbar nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s ease;
}
.navbar nav a:hover {
    color: #ac7f53;
    border-bottom: 2px solid #ac7f53;
}

.logo {
    margin-left: 50px;
    display: flex;
    align-items: center;    
    flex-wrap: nowrap;
}

.logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    border: none;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
} 

.logo h1 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.btn {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 50px;
}

.btn a {
    color: #fff;
}

.menu-btn {
    display: none;
}

/*Home page*/

.home {
    background-image: url("/Photos/Background-1/pawel-czerwinski-dsoWEYWtYYM-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    z-index: -100;
    position: relative;
}

.home-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-logo img {
    width: 350px;
    height: auto;
    border: none;
    border-radius: 50%;
}

/*About page*/

.about {
    background-color: #2E2B3A;
    color: white;
}

.about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-top: 150px;
    max-width: 1200px;
    margin: 0 auto;
}

.about .content {
    max-width: 50%;
}

.about .content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.about .content p {
    font-size: 18px;
    margin-bottom: 40px;
}

.about .content .info {
    display: flex;
    justify-content: space-between;
}

.about .content .info .item {
    max-width: 45%;
}

.about .content .info .item h2 {
    font-size: 36px;
    color: #D4A373;
    margin-bottom: 10px;
}

.about .content .info .item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about .content .info .item p {
    font-size: 16px;
    color: #B0A8B9;
}

.about .logo {
    max-width: 40%;
}

.about .logo img {
    width: auto;
    height: 400px;
}

/*Service page*/

.service {
    color: white;
    background: #2E2B3A;
    padding-left: 100px;
    padding-right: 100px;
}

.service .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 250px;
    padding-top: 100px;
}


.service .text-section {
    max-width: 35%;
}

.service .text-section h1 {
    font-size: 48px;
    margin: 0;
}

.service .text-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 20px;
}

.service .cards-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.service .card {
    background-color: #1C1A24;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

.card:nth-child(1), .card:nth-child(3) {
    margin-bottom: -40px;
}

.card:nth-child(2), .card:nth-child(4) {
    margin-top: -10px;
}

.service .card i {
    font-size: 48px;
    color: #FF6A3D;
    margin-bottom: 10px;
}

.service .card i img {
    width: 200px;
    border-top:#b3451a solid;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ac7f53, #1C1A24);
}

.service .card h3 {
    font-size: 20px;
    margin: 0;
}

/*Gallery Page*/

.container_furn {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
    margin-top: -50px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
}

.furniture{
    text-align: center;

}
.gallery img {
    width: 100%;
}

.furniture-title {
    margin-top: 0;
    padding: 20px 0;
    color: #D4A373;
    font-size: 100px;
    padding-bottom: -50px;
}

/*Collection page*/

.container_slider {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    margin-top: -100px;
}

.collections {
    text-align: center;
}

.collections-title {
    margin-top: 0;
    padding: 20px 0;
    color: #D4A373;
    font-size: 100px;
}


.imgContainer{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slide_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.imgContainer img{
    position: relative;
    height: 370px;
    width: 240px;
    filter: saturate(10%);
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button{
    position: absolute;
    width: 240px;
    height: 370px;
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

#slider1:target ~ .imgContainer #img1,
#slider1:target ~ .imgContainer #button1{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider2:target ~ .imgContainer #img2,
#slider2:target ~ .imgContainer #button2{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider3:target ~ .imgContainer #img3,
#slider3:target ~ .imgContainer #button3{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider4:target ~ .imgContainer #img4,
#slider4:target ~ .imgContainer #button4{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider5:target ~ .imgContainer #img5,
#slider5:target ~ .imgContainer #button5{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider6:target ~ .imgContainer #img6,
#slider6:target ~ .imgContainer #button6{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider7:target ~ .imgContainer #img7,
#slider7:target ~ .imgContainer #button7{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider8:target ~ .imgContainer #img8,
#slider8:target ~ .imgContainer #button8{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider9:target ~ .imgContainer #img9,
#slider9:target ~ .imgContainer #button9{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider10:target ~ .imgContainer #img10,
#slider10:target ~ .imgContainer #button10{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider11:target ~ .imgContainer #img11,
#slider11:target ~ .imgContainer #button11{
    width: 390px;
    height: 600px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider1:target ~ .imgContainer{
    left: 79%;
}

#slider2:target ~ .imgContainer{
    left: 64%;
}

#slider3:target ~ .imgContainer{
    left: 49%;
}

#slider4:target ~ .imgContainer{
    left: 33%;
}

#slider5:target ~ .imgContainer{
    left: 18%;
}

#slider6:target ~ .imgContainer{
    left: 0%;
}

#slider7:target ~ .imgContainer{
    left: -14%;
}

#slider8:target ~ .imgContainer{
    left: -29%;
}

#slider9:target ~ .imgContainer{
    left: -46%;
}

#slider10:target ~ .imgContainer{
    left: -61%;
}

#slider11:target ~ .imgContainer{
    left: -77%;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #2E2B3A;
}

.footer-column {
    flex: 1;
    margin-right: 10px;
}

.footer-column:last-child {
    margin-right: 0;
}

.footer-column img {
    width: 150px;
    height: auto;
    margin-left: 100px;
    border: #333 solid;
    border-radius: 50%;
}

.footer-column h1 {
    color: #FFFFFF;
    margin-left: 100px;
    margin-top: 10px;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.footer a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 16px;
}

.footer a:hover {
    text-decoration: underline;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 15px;
}

.signup {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 500px;
}

.signup input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #D3A589;
    margin-bottom: 20px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 16px;
    
}

.signup button {
    background-color: #D3A589;
    border: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.signup button:hover {
    background-color: #B88A6D;
}

.second-helpful-links {
    margin-top: 10px;
    margin-left: -150px;
}

/*Mobile Devices*/
@media only screen and (max-width: 480px) {
    header {
        height: 100px;
        position: fixed;
        z-index: 999;
    }

    html {
        width: 100%;
    }

    /* Header */
    .logo {
        float: left;
        margin-right: 20px;
        margin-left: 10px;
    }

  /* Center the h1 */
    .logo h1 {
        text-align: center;
    }

  
  .btn {
      display: none;
  }
  .menu-btn {
      display: block;
      position: absolute;
      top: 35px;
      left: 90%;
      font-size: 24px;
      cursor: pointer;
      z-index: 1000;
  }
  .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
        
    }
  
  .navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
      position: fixed;
      top: -100vh;
      left: 0;
      width: 100%;
      height: 100vh;
      transition: top 0.5s ease-in-out;
      z-index: 999;
      flex-direction: column;
      align-items: center;
  }
  
  .navbar ul.show {
      top: 0;
      padding-top: 60%;
      left: 0px;
      height: 100%;
      background-color: rgba(30, 30, 30, 0.7); /* Dark background with opacity */
      backdrop-filter: blur(10px); 
      color: #B0A8B9;
  }


  .over-flow-hidden {
      overflow: hidden;
  }
  .navbar li {
      width: 100%;
      text-align: center;
    }
  .navbar ul li {
      margin-bottom: 20px;
  }
  .navbar a {
      padding: 10px;
     
    }
    .navbar a:last-child {
      border-bottom: none;
    }
  .navbar ul li a {
      font-size: 18px;
      color: white;
  }
  .home {
    background-image: none; /* remove background image */
    height: auto; /* adjust height */
  }
  .home-logo {
      text-align: center;
  }
  .home-logo img {
      display: inline-block;
      margin: 0 auto;
  }

  .about .container {
    flex-direction: column; /* stack content vertically */
    padding: 20px; /* reduce padding */
  }
  .about .content {
    max-width: 100%; /* full width */
  }
  .about .logo {
    max-width: 100%; /* full width */
  }
  .about .logo img {
    display: none;
  }

  .service .container {
    flex-direction: column; /* stack content vertically */
    padding: 0px; /* reduce padding */
    max-width: 100%;
  }
  .service .text-section {
    max-width: 100%; /* full width */   
  }
  .service .cards-section {
    grid-template-columns: 1fr ; /* single column */
    gap: 5px; /* reduce gap */
    max-width: 100%;
  }
  .service .card {
    padding: 10px; /* reduce padding */
  }

  .card:nth-child(1), .card:nth-child(3) {
    margin-bottom: -10px;
}

.card:nth-child(2), .card:nth-child(4) {
    margin-top: 10px;
    top: 0%;
}

  .collections {
    display: none;
  }

  .footer-column {
    display: none;
  }

  .signup{
    margin-left: 55px;
  }
}

@media only screen and (max-width: 768px) {
    header {
        height: 100px;
        position: fixed;
        z-index: 999;
    }

    html {
        width: 100%;
    }

    /* Header */
    .logo {
        float: left;
        margin-right: 20px;
        margin-left: 10px;
    }

  /* Center the h1 */
    .logo h1 {
        text-align: center;
    }

  
  .btn {
      display: none;
  }
  .menu-btn {
      display: block;
      position: absolute;
      top: 35px;
      left: 90%;
      font-size: 24px;
      cursor: pointer;
      z-index: 1000;
  }
  .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
        
    }
  
  .navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
      position: fixed;
      top: -100vh;
      left: 0;
      width: 100%;
      height: 100vh;
      transition: top 0.5s ease-in-out;
      z-index: 999;
      flex-direction: column;
      align-items: center;
  }
  
  .navbar ul.show {
      top: 0;
      padding-top: 60%;
      left: 0px;
      height: 100%;
      background-color: rgba(30, 30, 30, 0.7); /* Dark background with opacity */
      backdrop-filter: blur(10px); 
      color: #B0A8B9;
  }


  .over-flow-hidden {
      overflow: hidden;
  }
  .navbar li {
      width: 100%;
      text-align: center;
    }
  .navbar ul li {
      margin-bottom: 20px;
  }
  .navbar a {
      padding: 10px;
     
    }
    .navbar a:last-child {
      border-bottom: none;
    }
  .navbar ul li a {
      font-size: 18px;
      color: white;
  }
  .home {
    background-image: none; /* remove background image */
    height: auto; /* adjust height */
  }
  .home-logo {
      text-align: center;
  }
  .home-logo img {
      display: inline-block;
      margin: 0 auto;
  }

  .about .container {
    flex-direction: column; /* stack content vertically */
    padding: 20px; /* reduce padding */
  }
  .about .content {
    max-width: 100%; /* full width */
  }
  .about .logo {
    max-width: 100%; /* full width */
  }
  .about .logo img {
    display: none;
  }

  .service .container {
    flex-direction: column; /* stack content vertically */
    padding: 0px; /* reduce padding */
    max-width: 100%;
  }
  .service .text-section {
    max-width: 100%; /* full width */   
  }
  .service .cards-section {
    grid-template-columns: 1fr 1fr; /* single column */
    gap: 10px; /* reduce gap */
  }
  .service .card {
    padding: 10px; /* reduce padding */
  }

  .card:nth-child(1), .card:nth-child(3) {
      margin-bottom: 0px; /* adjust the value to your liking */
  }
  .card:nth-child(2), .card:nth-child(4) {
      margin-top: 0px;
      margin-bottom: 10px;
  }

  .collections {
    display: none;
  }

  .footer-column {
    display: none;
  }

  .signup{
    margin-left: 55px;
  }
}

/*Tablets*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
}

/*Destop and Laptops*/
@media only screen and (min-width: 1024px) and (max-width: 1224px) {
}
